.container{
    max-width: 100%;
}
.image img{
    width: 80%;
}
.informations a{
    text-decoration: none;
    color: #6496ae;
    cursor: pointer;
}
.informations a:hover{
    color: #58889e;
}
.description{
    width: 90%;
    margin: auto;
}

.description p:first-child {
    color: #7aafca;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

.description p:nth-child(2){
    font-size: 1.8rem;
    font-weight: lighter;
}

.description p:nth-child(3){
    font-size: smaller;
    font-weight: lighter;
}
.color-change-info{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.color-change-info button{
    width: 35px; 
    height: 35px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.color-change-info button:nth-child(1){
    background-color: navy;
}
.color-change-info button:nth-child(2){
    background-color: red;
}
.color-change-info button:nth-child(3){
    background-color: green;
}
.size-info{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 30px;
}
.size-info button{
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
    cursor: pointer;
}
.cart-details{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.cart-details p:first-child{
    font-weight: lighter;
    font-size: 1.8rem;
}
.cart-details button{
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #66CC66;
    cursor: pointer;
}
.cart-details button:active{
    background-color: rgb(2, 86, 2);
}
.selected{
    outline: 3px solid rgb(0, 128, 115) !important;
    outline-offset: 3px;
}


@media screen and (min-width: 600px) and (max-width: 992px) {
    .image img{
        width: 40%;
    }
}
@media screen and (min-width: 992px){
    .description{
        margin: unset;
    }
    .image{
        width: 50%;
        float: left;
    }
    .informations{
        width: 50%;
        float: right;
    }
    .color-change-info{
        justify-content: left;
    }
    .size-info{
        justify-content: left;
    }
    .cart-details{
        justify-content: left;
        gap: 2rem;
    }
    .cart-details button{
        padding: 15px 30px;
    }
    .image img{
        max-height: 520px;
        width: unset;
        display: block;
        float: right;
        margin-right: 100px;
    }
}